.winner-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  flex: 0 0 168px;
  width: 168px;
  background-color: $bg-color-secondary;
  border-radius: $radius;
  padding: 4px 8px;

  &__image {
    width: 68px;
    height: 48px;

    img {
      height: 100%;
      width: auto;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > * {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      white-space: nowrap;
    }
  }
  &__game-title {
    width: 100%;
    color: $color-orange;
    text-transform: capitalize;
    overflow: hidden;
  }
  &__reward {
    color: $color-green;
  }
  &__username {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}