<header class="container header">
    <span class="header__logo">Logo</span>

    <button id="search-btn" class="header__search-btn">
        <img src="src/assets/images/search-icon.svg" alt="Search">
    </button>
</header>

<section class="banner">
    <img src="src/assets/images/banner.jpg" alt="Banner">
</section>

<main class="container main">
    <section id="winners-list" class="winners">
        <!-- Data from the winners.js will be inserted here -->
    </section>

    <section id="recent-games-list" class="games-list recent-games">
        <!-- Data from the recent-games.js will be inserted here -->
    </section>

    <section id="top-games-list" class="games-list top-games">
        <!-- Data from the top-games.js will be inserted here -->
    </section>
</main>