.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: $bg-color-primary;

  &__logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }
  &__search-btn {
    background: none;
    cursor: pointer;
  }
}

.banner {
  width: 100%;
  height: 338px;

  @media screen and (max-width: $breakpoint-md) {
    height: 212px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
  }
}

.main {
  padding-top: 16px;
  padding-bottom: 32px;
}