<div class="games-list__header">
    <span class="games-list__title"></span>

    <div class="games-list__nav-btn">
        <button class="nav-btn nav-btn--prev">
            <img src="src/assets/images/left-arrow-icon.svg" alt="left">
        </button>
        <button class="nav-btn nav-btn--next">
            <img src="src/assets/images/right-arrow-icon.svg" alt="right">
        </button>
        <button class="nav-btn nav-btn--all">Show all</button>
    </div>
</div>

<div class="games-list__cards"></div>
